@charset "UTF-8";
/* *******************초기화******************* */
*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
table {border-collapse:collapse;border-spacing:0}
ul, ol {list-style-type: none;}
a:link    {color: #000000; text-decoration: none;}     /* 방문전 링크일때 자홍색 선없음 */
a:visited {color: #000000; text-decoration: overline;}      /* 방문했던 링크일때 회색 위에선*/
a:hover   {color: #000000; text-decoration: underline;}   /* 마우스오버일때 파란색 아래선 */
a:active  {color: #000000; text-decoration: line-through;} /* 클릭했을때 빨간색 중앙선*/
/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}
 

/* *******************레이아웃******************* */
#wrap {
	width: 1000px;
	margin: 0px auto;
}

#wrap > #header {border-bottom: 1px solid #bfbfbf;}

#wrap > #nav {
	border-bottom: 1px solid #bfbfbf;
	}
#wrap > #contents {
	margin: 50px 0px 50px 20px;
}

#wrap > #footer {
	padding: 25px;
	margin: 125px 0px 0px 0px;
	background-color: #e9e9e9;
	text-align: center;

}
/* *******************헤더(로고 로그인, 회원가입)******************* */
h1 {
	color: #79b30b; 
	font-size: 35px;
	float: left;
	font-weight: bold;
}
ul {
	float: right;
	margin: 15px 0px 5px 0px;
}
ul>li {
	float:left;
	padding: 0px 0px 15px 20px;
}
ol>li {
	float: left;
	margin: 15px 80px 15px 80px;
	font-size: 25px;
	font-weight: bold ;	
}
div>img {
	float: left;
}
.title {
	font-weight: bold;
	font-size: 25px;
}
.pic {
	margin: 0px 50px 0px 0px;
}
div>p {
	font-size: 15px;
}
	