@charset "UTF-8";

/* 게시판 공통 */
.form-group {
	padding: 0px 0px 10px 0px;
}
input[type="text"] {
	padding: 6px 3px 6px 6px;
}
input[type="password"] {
	padding: 6px 3px 6px 6px;
}

#contents-body select {
	padding: 6px 3px 6px 3px;
}
 input[type="radio"] {
	width: 15px;
	height: 15px;
	margin: 0px 20px 0px 0px;
	position: relative;
	top: 3px;
}
input[type="checkbox"] {
	margin: 0px 20px 0px 0px;
	position: relative;
	top: 2px;
}
input[type="file"] {
	cursor: pointer;
}
textarea {
	padding: 6px 3px 6px 6px;
	font-size: 13px;
	font-family: "맑은 고딕", 돋움, 굴림;
}
.btn {
	width: 100px;
	padding: 5px 0px 5px 0px;
	cursor: pointer;
}
/* 글쓰기 폼 */
#contents-body {
	padding: 10px 0px 20px 0px;
	border-bottom: 1px solid #dddddd;
}
#contents-footer {
	padding: 20px 0px 0px 0px;
	text-align: center;
}

.name-group {
	width: 80px;
	display: inline-block;
}

#txt-title {
	width: 715px;
}

#txt-pw {
	width: 150px;
}

#sel-board {
	width: 150px;
}

#txt-contents {
	width: 100%;
	height: 200px;
}


.list2 {
	float: bottom;
}