@charset "UTF-8";
/* *******************초기화******************* */
*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
table {border-collapse:collapse;border-spacing:0}
ul, ol {list-style-type: none;}
a:link    {color: #000000; text-decoration: none;}     /* 방문전 링크일때 자홍색 선없음 */
a:visited {color: #000000; text-decoration: overline;}      /* 방문했던 링크일때 회색 위에선*/
a:hover   {color: #000000; text-decoration: underline;}   /* 마우스오버일때 파란색 아래선 */
a:active  {color: #000000; text-decoration: line-through;} /* 클릭했을때 빨간색 중앙선*/
/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}
/* *******************초기화******************* */
/* *******************반고정******************* */
#wrap {
	margin:0 auto;
	width: 1000px;
}
#header {
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #bfbfbf;}
#header > h1 {
	float: left;
	font-size: 35px;
	color: #79b30b;
	font-weight: bold;
}
#header > ul {
	float: right;
	padding: 20px 0px 0px 0px;
	}
#header>ul>li {
	float: left;
	padding: 0px 0px 0px 20px;
	}
#nav > ul {
	float: right;
	border-bottom: 1px solid #bfbfbf;
}
#nav>ul>li {
	float: left;
	width: 250px;
	text-align: center;
	padding: 10px 0px 10px 0px;
	font-size: 20px;
	font-weight: bold;
}
#footer {
	background-color: #bfbfbf;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
/* *******************반고정******************* */
#contents-main > #aside {
	float:left;
	width: 150px;
	}
#contents-main>#aside>#class-header {
	text-align: center;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	background-color: #bfbfbf;
	margin: 10px 10px 0px 0px;
}
#contents-main>#aside>ul>li {
	border: 1px solid #bfbfbf;
	margin: 10px 10px 0px 0px;
}
#contents-main > #contents {
	float: left;
	width: 850px;
}
#contents-main > #contents > #contents-header {
	border-bottom: 1px solid #bfbfbf;
	padding: 18px 0px 40px 0px;
}
#contents-main > #contents > #contents-header h3 {
	float: left;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 0px 0px 0px;
}
.board-dir {
	padding: 15px 0px 0px 0px;
	float: right;}
.dir {
	float: left;
	font-size: 12px;
	font-weight: normal;
}
.dir:after {content:" >";}
.last-dir:after {content: none;}
/* *******************시이드바랑 게시판 상단******************* */
#contents>#search-box {
	float: right;
	margin: 40px 0px 0px 0px;
}
#contents>#board>table {
	float: left;
	margin: 10px 0px 10px 0px;
	width: 850px;
}
#contents>#board>table>tbody {
		border-bottom: 1px solid #000000;
}
#contents>#board>table tr th {
	border-top: 1px solid #000000;
	background-color: #bfbfbf;
	height: 40px;}
#contents>#board>table tr td {
	text-align: center;
	border-left: none;
	border-right: none;
	border-bottom: 1px dotted #bfbfbf;
	padding: 5px 0px 5px 0px;
}
.page>ol {
	float: left;
	margin: 0px 0px 0px 300px;
}
.page>ol>li {
	float: left;
	padding: 0px 5px 20px 5px;
}
#writeformbtn>button {
	float: right;
}