@charset "UTF-8";
/* *******************초기화******************* */
*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
table {border-collapse:collapse;border-spacing:0}
ul, ol {list-style-type: none;}
a:link    {color: #000000; text-decoration: none;}     /* 방문전 링크일때 자홍색 선없음 */
a:visited {color: #000000; text-decoration: overline;}      /* 방문했던 링크일때 회색 위에선*/
a:hover   {color: #000000; text-decoration: underline;}   /* 마우스오버일때 파란색 아래선 */
a:active  {color: #000000; text-decoration: line-through;} /* 클릭했을때 빨간색 중앙선*/
/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}
/* *******************초기화******************* */
/* *******************반고정******************* */
#wrap {
	margin:0 auto;
	width: 1000px;
}
/* *******************반고정******************* */
.form-group {
	padding: 20px 0px 20px 0px;
	border-bottom: 1px solid #bfbfbf;
}
.name-group {
	width: 120px;
	display: inline-block;
	padding: 0px 0px 0px 10px;
}

#address {
	margin: 0px 10px 10px 0px;
}
#deep-address {
	width: 500px;
	margin: 0px 0px 0px 126px;
}
input[type="radio"] {
	width: 15px;
	height: 15px;
	margin: 0px 20px 0px 0px;
	position: relative;
	top: 3px;
}
input[type="checkbox"] {
	margin: 0px 20px 0px 0px;
	position: relative;
	top: 2px;
}
#txt-contents {
	width: 500px;
	height: 150px;
}
#txtarea-label {
	padding: 50px 0px 0px 0px;
	position: relative;
	bottom: 120px;
	left: 10px;
}
#contents-footer {
	padding: 20px 0px 0px 0px;
	text-align: center;
}
.btn {
	width: 100px;
	padding: 5px 0px 5px 0px;
	cursor: pointer;
}