<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../assets/css/final_index.css">
<link rel="stylesheet" href="../../assets/css/final_subpage.css"> 
</head>
<body>
<div id="wrap">
	<div id="header" class="clearfix">
		<h1>MySite</h1>
		<ul>
			<li><a href="">로그인</a></li>
			<li><a href="">회원가입</a></li>
		</ul>
	</div>
	<div id="nav" class="clearfix">
		<ul>
			<li><a href="">입사지원서</a></li>
			<li><a href="">게시판</a></li>
			<li><a href="">갤러리</a></li>
			<li><a href="">방명록</a></li>
		</ul>
	</div>
	<div id="contents-main" class="clearfix">
		<div id="aside">
			<h2 id="class-header">게시판</h2>
			<ul>
				<li><a href="">일반 게시판</a></li>
				<li><a href="">댓글 게시판</a></li>
				<li><a href="">첨부 게시판</a></li>
			</ul>
		</div>
		<div id="contents">
			<div id="contents-header">
				<h3>일반 게시판</h3>
				<ol class="board-dir">
					<li class="dir"><a href="">홈</a></li>
					<li class="dir"><a href="">게시판</a></li> 
					<li class="dir last-dir"><a href="">일반 게시판</a></li>
				</ol>
			</div>
			<div id="search-box">
				<input type="text">
				<button type="submit">검색</button>
			</div>
			<div id="board">
				<table>
					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>글쓴이</th>
							<th>조회수</th>
							<th>작성일</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>aaaa</td>
							<td>bbbbb</td>
							<td>cccccc</td>
							<td>ddddddd</td>
							<td>eeeeeeee</td>
							<td>삭제</td>
						</tr>
						<tr>
							<td>aaaa</td>
							<td>bbbbb</td>
							<td>cccccc</td>
							<td>ddddddd</td>
							<td>eeeeeeee</td>
							<td>삭제</td>
						</tr>
						<tr>
							<td>aaaa</td>
							<td>bbbbb</td>
							<td>cccccc</td>
							<td>ddddddd</td>
							<td>eeeeeeee</td>
							<td>삭제</td>
						</tr>
						<tr>
							<td>aaaa</td>
							<td>bbbbb</td>
							<td>cccccc</td>
							<td>ddddddd</td>
							<td>eeeeeeee</td>
							<td>삭제</td>
						</tr>
						<tr>
							<td>aaaa</td>
							<td>bbbbb</td>
							<td>cccccc</td>
							<td>ddddddd</td>
							<td>eeeeeeee</td>
							<td>삭제</td>
						</tr>
					</tbody>
				</table>
				<div class="page">
					<ol>
						<li><a href="">◀</a></li>
						<li><a href="">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li><a href="">4</a></li>
						<li><a href="">5</a></li>
						<li><a href="">6</a></li>
						<li><a href="">7</a></li>
						<li><a href="">8</a></li>
						<li><a href="">9</a></li>
						<li><a href="">10</a></li>
						<li><a href="">▶</a></li>
					</ol>
				</div>
				<div id="writeformbtn">
					<button type=submit>글쓰기</button>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		Copyright © 2020 황일영. All right reserved
	</div>
</div>
</body>
</html>