<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body>
<div id="wrap">
		<div id="header" class="clearfix">
		<h1>MySite</h1>
		<ul>
			<li class="join-new"><a href="">로그인</a></li>
			<li class="join-new"><a href="">회원가입</a></li>
		</ul>
	</div>
	<!-- header -->
	<div id="nav" class="clearfix">
		<ul>
			<li class="board-list"><a href="">입사지원서</a></li>
			<li class="board-list"><a href="">게시판</a></li>
			<li class="board-list"><a href="">갤러리</a></li>
			<li class="last-margin board-list"><a href="">방명록</a></li>
		</ul>
	</div>
	<!-- NAV -->
	<div id="contents" class="clearfix">
		<div id="aside">
			<h2><a href="">게시판</a></h2>
			<ul>
				<li><a href="">일반 게시판</a></li>
				<li><a href="">댓글 게시판</a></li>
				<li><a href="">첨부 게시판</a></li>
			</ul>
		</div>
		<!-- aside -->
		<div id="contents-main">
			<div id="contents-header">
			<h3><a href="">일반 게시판</a></h3>
			<ol class="board-dir">
				<li class="dir"><a href="">홈</a></li>
				<li class="dir"><a href="">게시판</a></li> 
				<li class="dir last-dir"><a href="">일반 게시판</a></li>
			</ol>
			</div>
		</div>
		
	</div>
	<!-- full contents -->
	<div id="footer">
		Copyright © 2020 황일영. All right reserved
	</div>
	<!-- footer -->
</div>
<!-- wrap -->
</body>
</html>