<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>subpage</title>
<link rel="stylesheet" href="../../assets/css/mysite.css">
</head>
<body>
	<div id="wrap">
		<div id="header" class="clearfix">
			<h1>MySite</h1>
			<ul class="first-wrap">
				<li><a href="">로그인</a></li>
				<li><a href="">회원가입</a></li>
			</ul>
		</div>
		<div id="nav" class="clearfix">
			<ul>
				<li class="board-list"><a href="">입사지원서</a></li>
				<li class="board-list"><a href="">게시판</a></li>
				<li class="board-list"><a href="">갤러리</a></li>
				<li class="last-margin board-list"><a href="">방명록</a></li>
			</ul>
		</div>
		<div class="board-whole">
			<ul>
				<li class="board-title">게시판</li>
				<li class="board">일반 게시판</li>
				<li class="board">댓글 게시판</li>
				<li class="board">첨부 게시판</li>
			</ul>
			<!-- <table>
				<tr>
					<td>
					게시판</tr>
					<tr>
						<td class="board"><a href="">일반 게시판</a></td>
					</tr>
					<tr>
						<td class="board"><a href="">댓글 게시판</a></td>
					</tr>
					<tr>
						<td class="board"><a href="">첨부 게시판</a></td>
					</tr>
			</table> -->
		</div>
		<div class="board-main bold">
			일반 게시판
			<ol class="board-dir">
				<li class="dir">홈</li>
				<li class="dir">게시판</li> 
				<li class="dir last-dir">일반 게시판</li>
			</ol>
			</div>
			<div class="sch-box">
				<input type="text"> <button type="submit">검색</button>
			</div>
			<br>
			<table class="user-board">
				<thead>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>aaaa</td>
						<td>bbbbbbbbb</td>
						<td>cccccccccc</td>
						<td>ddddddddddddd</td>
						<td>eeeeeeeeeeeee</td>
						<td>삭제</td>
					</tr>
					<tr>
						<td>aaaa</td>
						<td>bbbbbbbbb</td>
						<td>cccccccccc</td>
						<td>ddddddddddddd</td>
						<td>eeeeeeeeeeeee</td>
						<td>삭제</td>
					</tr>
					<tr>
						<td>aaaa</td>
						<td>bbbbbbbbb</td>
						<td>cccccccccc</td>
						<td>ddddddddddddd</td>
						<td>eeeeeeeeeeeee</td>
						<td>삭제</td>
					</tr>
					<tr>
						<td>aaaa</td>
						<td>bbbbbbbbb</td>
						<td>cccccccccc</td>
						<td>ddddddddddddd</td>
						<td>eeeeeeeeeeeee</td>
						<td>삭제</td>
					</tr>
					<tr>
						<td>aaaa</td>
						<td>bbbbbbbbb</td>
						<td>cccccccccc</td>
						<td>ddddddddddddd</td>
						<td>eeeeeeeeeeeee</td>
						<td>삭제</td>
					</tr>
				</tbody>
		</table>
		<button class="write" type="submit">글쓰기</button>
		<div id="footer">
		Copyright © 2020 황일영. All right reserved
	</div>
			
	</div>
</body>
</html>